<doctype html>
<title>Add Location - Python Flask MySQL CRUD</title>
<h2>Add Location</h2>
<form method="post" action="/add">
    <dl>
		<p>
			<input name="inputId" value="" type="text" placeholder="ID" autocomplete="off" required>
		</p>
		<p>
			<input name="inputCity" value="" type="text" placeholder="City name" autocomplete="off" required>
		</p>
		<p>
			<input name="inputPlanet" value="" type="text" placeholder="Planet name" autocomplete="off" required>
		</p>
		<p>
			<input name="inputCapacity" value="" type="text" placeholder="Capacity" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Submit">
	</p>
</form>