<doctype html>
<title>Add SpaceShip - Python Flask MySQL CRUD</title>
<h2>Add SpaceShip</h2>
<p> Copy the status fro here by typing decommissioned, maintenance or operational</p>
<form method="post" action="/addspaceship">
    <dl>
		<p>
			<input name="spaceId" value="" type="text" placeholder="spaceId" autocomplete="off" required>
		</p>
		<p>
			<input name="locationId" value="" type="text" placeholder="location ID" autocomplete="off" required>
		</p>
		<p>
			<input name="name" value="" type="text" placeholder="name" autocomplete="off" required>
		</p>
		<p>
			<input name="model" value="" type="text" placeholder="model" autocomplete="off" required>
		</p>
		<p>
			<input name="status" value="" type="text" placeholder="status" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Submit">
	</p>
	
</form>