<doctype html>
<title>Edit User - Python Flask MySQL CRUD</title>
<h2>Edit User</h2>
<p> Change the status by typing decomissioned, maintenance, operational
<form method="post" action="/update">
    <dl>
		
		<p>
			<input name="inputCity" value="{{ row['city_name'] }}" type="text" placeholder="City Name" autocomplete="off" required>
		</p>
		<p>
			<input name="inputPlanet" value="{{ row['planet_name'] }}" type="text" placeholder="Planet Names" autocomplete="off" required>
		</p>
		<p>
			<input name="inputCapacity" value="{{ row['capacity'] }}" type="text" placeholder="Capacity" autocomplete="off" required>
		</p>
		 <p>
		<input name="id" value="{{ row['ID'] }}" type="hidden">
		<input type="submit" value="Submit">
	</p>
		
    </dl>
   
</form>