<doctype html>
<title>Edit User - Python Flask MySQL CRUD</title>
<h2>Edit User</h2>
<p> Change the status by typing decomissioned, maintenance, operational
<form method="post" action="/updatespaceship">
    <dl>
		<p>
			<input name="inputStatus" value="{{ row['status'] }}" type="text" placeholder="Space Ship Status" autocomplete="off" required>
		</p>
		<p>
		<input name="id" value="{{ row['SPACEID'] }}" type="hidden">
		<input type="submit" value="Submit">
	</p>
    </dl>
    
</form>