<doctype html>
<title>Edit User - Python Flask MySQL CRUD</title>
<h2>Travel</h2>
<form method="post" action="/travelpaceship">
    <dl>
		<p>
			<input name="spaceID"   placeholder="Space ID" autocomplete="off" required>
		</p>
		<p>
			<input name="locationID"  placeholder="Location ID of where it has to land" autocomplete="off" required>
		</p>
		<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
    <p>
		
		<input type="submit" value="Submit">
	</p>
    </dl>

</form>